.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    padding: 40px;
    height: 150px;
    background-color: var(--clr4);
}

.filter input {
    height: 50px;
    width: 300px;
    padding: 0 15px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.filter-price{
    display: flex;
    gap: 10px;
}