
.user-msg{
    text-align: center;
    position: fixed;
    top: 10;
    right: 10;
    width: 400px;
    height: fit-content;
    background-color: lavenderblush;
}

.green-border{
    border: 1px solid green;
}

.red-border{
    border: 1px solid red;
}